# Environments
.venv/
venv/
**/venv/
node_modules/
**/node_modules/
__pycache__/
*.pyc
*.egg-info/
**/__pycache__/
**/*.pyc
**/*.egg-info/
build/
dist/

# Data & Models (Crucial for speed)
src/backend/models/
src/backend/storage/
storage/
models/

# Git
.git/
.gitignore

# IDEs
.vscode/
.idea/
.DS_Store

# Tests
.pytest_cache/
.coverage
htmlcov/
