# Xcode
.DS_Store
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.swiftpm

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Application data
*.db
*.db-shm
*.db-wal
*.m4a
*.wav

# User data
~/Library/Application Support/MeetingMind/
